<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
<br>
<br>
  <h2 style="color:white; align:center"> CREDIT FRAUD DETECTION </h2>
<br>
	<p>
		<a href="/authorInfo">
		  <input type="submit" value="Author"/>
		</a>
		 
		<a href="/modelInfo">
		  <input type="submit" value="Model summary"/>
		</a>
		 
		<a href="https://colab.research.google.com/drive/1tfn_SXdQu5U2uHm16kXXOHKDPFPkZPX8?usp=sharing">
		  <input type="submit" value="Colab notebook"/>
		</a>
		 
		 <a href="/trainingResult">
		  <input type="submit" value="Data and Training results"/>
		</a>
		
		<a href="/newPrediction">
		  <input type="submit" value="Make a prediction"/>
		</a>
		
		<a href="/newPrediction0">
		  <input type="submit" value="Make a prediction (to remove)"/>
		</a>

	</p>
</body>
</html>