<html>
 <head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
  <h2 style="color:white; align:center">NEW PREDICTION</h2>
  <form action="/api/v0/predict" method="POST" >
		<label for="time" >Time: 
    <input type="number" step="0.0000000000001" id="time" name="time" required>
    </label>
	    <label for="V1" >V1: 
    <input type="number" step="0.0000000000001" id="V1" name="V1" value="-0.4098995926" required>
    </label>
	    <label for="V2" >V2: 
    <input type="number" step="0.0000000000001" id="V2" name="V2" value="1.1830875653" required>
    </label>
	    <label for="V3" >V3: 
    <input type="number" step="0.0000000000001" id="V3" name="V3" value="1.5989670478" required>
    </label>
	    <label for="V4" >V4: 
    <input type="number" step="0.0000000000001" id="V4" name="V4" value="0.3530883542" required>
    </label>
	    <label for="V5" >V5: 
    <input type="number" step="0.0000000000001" id="V5" name="V5" value="0.3097100198" required>
    </label>
		<label for="V6" >V6: 
    <input type="number" step="0.0000000000001" id="V6" name="V6" value="-0.3123999917" required>
    </label>
	    <label for="V7" >V7: 
    <input type="number" step="0.0000000000001" id="V7" name="V7" value="0.707197413" required>
    </label>
	    <label for="V8" >V8: 
    <input type="number" step="0.0000000000001" id="V8" name="V8" value="-0.0432064902" required>
    </label>
	    <label for="V9" >V9: 
    <input type="number" step="0.0000000000001" id="V9" name="V9" value="-0.8928689875" required>
    </label>
	    <label for="V10" >V10: 
    <input type="number" step="0.0000000000001" id="V10" name="V10" value="-0.6848001841" required>
    </label>
		<label for="V11" >V11: 
    <input type="number" step="0.0000000000001" id="V11" name="V11" value="0.2370110176" required>
    </label>
		<label for="V12" >V12: 
    <input type="number" step="0.0000000000001" id="V12" name="V12" value="0.5133997741" required>
    </label>
		<label for="V12" >V13: 
    <input type="number" step="0.0000000000001" id="V13" name="V13" value="1.2582577793" required>
    </label>
		<label for="V14" >V14: 
    <input type="number" step="0.0000000000001" id="V14" name="V14" value="-0.5214883317" required>
    </label>
	    <label for="V15" >V15: 
    <input type="number" step="0.0000000000001" id="V15" name="V15" value="1.4038977138" required>
    </label>
		<label for="V16" >V16: 
    <input type="number" step="0.0000000000001" id="V16" name="V16" value="-0.2434575613" required>
    </label>
	    <label for="V17" >V17: 
    <input type="number" step="0.0000000000001" id="V17" name="V17" value="0.4917335894" required>
    </label>
	    <label for="V18" >V18: 
    <input type="number" step="0.0000000000001" id="V18" name="V18" value="-0.6180580443" required>
    </label>
	    <label for="V19" >V19: 
    <input type="number" step="0.0000000000001" id="V19" name="V19" value="0.2939418888" required>
    	</label>
	    <label for="V20" >V20: 
    <input type="number" step="0.0000000000001" id="V20" name="V20" value="0.1172581094" required>
    </label>
		<label for="V21" >V21: 
    <input type="number" step="0.0000000000001" id="V21" name="V21" value="-0.1633708118" required>
    </label>
	    <label for="V22" >V22: 
    <input type="number" step="0.0000000000001" id="V22" name="V22" value="-0.3961552733" required>
    </label>
	    <label for="V23" >V23: 
    <input type="number" step="0.0000000000001" id="V23" name="V23" value="-0.0694977738" required>
    </label>
	    <label for="V24" >V24: 
    <input type="number" step="0.0000000000001" id="V24" name="V24" value="0.0697349728" required>
    </label>
	    <label for="V25" >V25: 
    <input type="number" step="0.0000000000001" id="V25" name="V25" value="-0.2984068894" required>
    </label>
		<label for="V26" >V26: 
    <input type="number" step="0.0000000000001" id="V26" name="V26" value="0.199188201" required>
    </label>
	    <label for="V27" >V27: 
    <input type="number" step="0.0000000000001" id="V27" name="V27" value="0.0996924344" required>
    </label>
	    <label for="V28" >V28: 
    <input type="number" step="0.0000000000001" id="V28" name="V28" value="0.1186172016" required>
	</label>
		<label for="amount" >Amount: 
    <input type="number" step="0.0000000000001" id="amount" name="amount" required>
    </label>
    <input type="submit" value="Submit" >
  </form>

</body>
</html>